[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/popper.js"]
	path = lib/popper.js
	url = https://github.com/FezVrasta/popper.js.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/nano-tpl"]
	path = lib/nano-tpl
	url = https://github.com/mattok/nano-tpl.git
[submodule "lib/URI.js"]
	path = lib/URI.js
	url = https://github.com/medialize/URI.js.git
